.bannerContainer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 470px;
    background: url("/media/rectangle/bg@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (max-width: 576px) {
    .content {
        flex-direction: column;
    }

    .header {
        width: 70%;
    }

}