.footer {
    background-color: var(--gray);
    color: #fff !important;
    padding: 33px 0;
}

.content {
    display: flex;
    gap: 30px;
}

.right {
    flex: 1;
}

.rightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightHeader span {
    font-size: 14px;
    white-space: nowrap;
}

.rightHeader ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.rightHeader ul li {
    font-size: 14px;
    padding: 3px 10px;
    white-space: nowrap;
    border-right: 1px solid var(--gray-400);
    cursor: pointer;
}

.rightHeader ul li:hover {
    color: var(--gray-200);
}

.rightHeader ul li:last-child {
    border: none;
}

.rightFooter {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.rightFooter img {
    margin-right: 18px;
}

.rightFooter p {
    font-size: 8px;
    line-height: 1.75;
}

.left {
    flex: 1;
}

.leftHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftHeader ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.leftHeader ul li {
    font-size: 14px;
    padding: 3px 10px;
    white-space: nowrap;
    border-right: 1px solid var(--gray-400);
    cursor: pointer;
}

.leftHeader ul li:hover {
    color: var(--gray-200);
}

.leftHeader ul li:last-child {
    border: none;
}


.langs {
    display: flex;
    align-items: center;
}

.langs img {
    width: 20px;
}

@media (max-width: 1200px) {
    .content {
        flex-direction: column;
    }

    .right {
        order: 2;
    }

    .rightHeader {
    }

    .rightHeader span {
        margin-top: 10px;
        padding: 0 10px;
    }

    .leftHeader ul {
        display: flex;
        padding: 0;
        list-style: none;
    }

    .leftHeader ul li {
        flex: 1;
        border: none;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .right {
        order: 2;
    }

    .rightHeader {
        flex-direction: column;
    }

    .rightHeader span {
        margin-top: 10px;
        order: 2;
        padding: 0;
    }

    .leftHeader ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }

    .leftHeader ul li {
        flex: 1;
        border: none;
        margin-top: 10px;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .content {
        flex-direction: column;
    }

    .right {
        order: 2;
    }

    .rightHeader {
        flex-direction: column;
    }

    .rightHeader span {
        margin-top: 10px;
        order: 2;
        padding: 0;
    }

    .leftHeader ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }

    .leftHeader ul li {
        flex: 1;
        border: none;
        margin-top: 10px;
        padding: 0;
    }
}
